<launch>



<arg name="model" default="$(find intel)/urdf/intel_robot.urdf.xacro"/>
<arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz"/>



<include file="$(find intel)/launch/gazebo.launch">
  <arg name="model" value="$(arg model)"/>
</include>
<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>

  

<rosparam command="load" file="$(find intel)/config/joints.yaml"/>
<rosparam command="load" file="$(find intel)/config/diffdrive.yaml"/>

<node name="intel_robot_controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen"   args="intel_robot/joint_state_controller intel_robot/diff_drive_controller  --shutdown-timeout 3"/>

<node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering"> <param name="default_topic" value="intel_robot/diff_drive_controller/cmd_vel"/>
</node>


<node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher" respawn="false" output="screen"/> 

<!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/-->

</launch>










