<launch>

<arg name="paused" default="false"/>
<arg name="use_sim_time" default="true"/>
<arg name="gui" default="true"/>
<arg name="headless" default="false"/>
<arg name="debug" default="false"/>

<arg name="model" default="$(find intel)/urdf/intel_robot.urdf.xacro"/>
<arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz"/>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
<arg name="debug" value="$(arg debug)" />
<arg name="world_name" value="$(find intel)/worlds/world.world" />
<arg name="gui" value="$(arg gui)" />
<arg name="paused" value="$(arg paused)"/>
<arg name="use_sim_time" value="$(arg use_sim_time)"/>
<arg name="headless" value="$(arg headless)"/>
</include>
<!--node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/-->

<param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

<node name="spawn_intel_robot" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-param robot_description  -urdf -model intel "/>

<rosparam command="load" file="$(find intel)/config/joints.yaml"/>
<rosparam command="load" file="$(find intel)/config/diffdrive.yaml"/>

<node name="intel_robot_controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen"   args="intel_robot/joint_state_controller intel_robot/diff_drive_controller  --shutdown-timeout 3"/>

<!-- <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering"> <param name="default_topic" value="intel_robot/diff_drive_controller/cmd_vel"/>
</node> -->


<node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher" respawn="false" output="screen"/> 

<!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/-->

</launch>